@font-face {
  font-family: "Lato";
  src: local("Lato-Regular"), url("./Fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather-Regular"),
    url("./Fonts/Merriweather-Regular.ttf") format("truetype");
}

h1 {
  font-family: "Merriweather";
}
p {
  font-family: "Lato";
}
input {
  font-family: "Lato";
}
textarea {
  font-family: "Lato";
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
